@{
    ViewData["Title"] = "Dashboard - Dolci Cerqueira";

    int hour = DateTime.Now.Hour;

}
@model wapp_dolcicerqueira.Models.AllModels

<div class="flex min-h-screen w-full bg-card font-poppins p-20">
    <aside class="flex w-72 flex-col px-4 pt-10 pb-6">
        <div class="user mb-3 flex items-center">
            <div class="relative flex items-center">
                    @if (!string.IsNullOrEmpty(AllModels.UserCheck.ImageUrl))
                    {
                        <div class="h-12 w-12 rounded-full flex flex-row items-center overflow-hidden justify-center">
                        <img src="@Url.Content("~/avatar/" + wapp_dolcicerqueira.Models.AllModels.UserCheck.ImageUrl)" class="bg-cover object-cover flex w-full h-full" />
                        </div>
                    }
                    else
                    {
                        <div class="h-12 w-12 rounded-full bg-pink flex flex-row items-center overflow-hidden justify-center text-white font-semibold">
                        <span>@Html.Raw(wapp_dolcicerqueira.Models.AllModels.UserCheck.Username[0])</span>
                        </div>
                    }
                <div class="flex flex-col ml-3">
                    <h3 class="text-sm font-medium text-blue">@Model.User.Username</h3>
                    <p class="text-xs font-medium">@Model.User.Email</p>
                </div>
            </div>
        </div>
            <div class="relative mb-6 rounded-full bg-lightpink/30 px-3 py-2 text-center text-sm font-medium text-pink/50 ">
                <a href="/ClearAuthorId" class="flex items-center gap-x-2 hover:no-underline">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-current text-gray-400 h-6 w-6 flex">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
                    </svg>
                    Log out
                </a>
            </div>
        <div class="space-y-10 px-10">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="flex items-center text-sm text-textcolor hover:no-underline hover:text-blue">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-4 w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>

                Go to Website
            </a>
            <button onclick="dashboard()" class="flex items-center text-sm text-textcolor hover:text-blue">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-4 h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z" />
                </svg>
                Dashboard
            </button>
            <button onclick="favorites()" class="flex items-center text-sm text-textcolor hover:text-blue">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-4 h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                </svg>
                Favorites
            </button>
            <button onclick="recipes()" class="flex items-center text-sm text-textcolor hover:text-blue">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-4 h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                </svg>
                Recipes
            </button>
            <button class="flex items-center text-sm text-textcolor hover:text-blue">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-4 h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
                </svg>
                Orders
            </button>
            <button onclick="settings()" class="flex items-center text-sm text-textcolor hover:text-blue">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-4 h-6 w-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.343 3.94c.09-.542.56-.94 1.11-.94h1.093c.55 0 1.02.398 1.11.94l.149.894c.07.424.384.764.78.93.398.164.855.142 1.205-.108l.737-.527a1.125 1.125 0 011.45.12l.773.774c.39.389.44 1.002.12 1.45l-.527.737c-.25.35-.272.806-.107 1.204.165.397.505.71.93.78l.893.15c.543.09.94.56.94 1.109v1.094c0 .55-.397 1.02-.94 1.11l-.893.149c-.425.07-.765.383-.93.78-.165.398-.143.854.107 1.204l.527.738c.32.447.269 1.06-.12 1.45l-.774.773a1.125 1.125 0 01-1.449.12l-.738-.527c-.35-.25-.806-.272-1.203-.107-.397.165-.71.505-.781.929l-.149.894c-.09.542-.56.94-1.11.94h-1.094c-.55 0-1.019-.398-1.11-.94l-.148-.894c-.071-.424-.384-.764-.781-.93-.398-.164-.854-.142-1.204.108l-.738.527c-.447.32-1.06.269-1.45-.12l-.773-.774a1.125 1.125 0 01-.12-1.45l.527-.737c.25-.35.273-.806.108-1.204-.165-.397-.505-.71-.93-.78l-.894-.15c-.542-.09-.94-.56-.94-1.109v-1.094c0-.55.398-1.02.94-1.11l.894-.149c.424-.07.765-.383.93-.78.165-.398.143-.854-.107-1.204l-.527-.738a1.125 1.125 0 01.12-1.45l.773-.773a1.125 1.125 0 011.45-.12l.737.527c.35.25.807.272 1.204.107.397-.165.71-.505.78-.929l.15-.894z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                Settings
            </button>
        </div>
    </aside>
    <main class="flex min-h-screen flex-1 flex-col rounded-t-[48px] bg-white p-8">
        <nav class="flex items-center gap-x-6">
            <div class="flex w-2/5 items-center justify-between">
                <h1 class="text-3xl font-bold text-blue">Dashboard</h1>
                <div class="flex items-center gap-x-2">
                    <div class="relative">
                        <input type="text" placeholder="Search" class="rounded-10 bg-gray-900 text-textcolor py-3 pr-4 pl-10 text-sm focus:text-textcolor focus:outline-none" />
                        <span class="pointer-events-none absolute inset-y-0 flex items-center px-3">
                            <svg fill="none" viewBox="0 0 24 24" class="stroke-current text-gray-400 h-6 w-6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 19.25 15.5 15.5M4.75 11a6.25 6.25 0 1 1 12.5 0 6.25 6.25 0 0 1-12.5 0Z"></path>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex w-2/5 items-center justify-between">
                <div class="flex items-center gap-x-2.5">
                    <button class="bg-gray-900 text-gray-400 flex h-11 w-11 items-center justify-center rounded-full hover:text-white">
                        <svg fill="none" viewBox="0 0 24 24" class="stroke-current h-7 w-7">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 7.75a2 2 0 0 1 2-2h10.5a2 2 0 0 1 2 2v8.5a2 2 0 0 1-2 2H6.75a2 2 0 0 1-2-2v-8.5Z"></path>
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m5.5 6.5 6.5 5.75 6.5-5.75"></path>
                        </svg>
                    </button>

                    <button class="bg-gray-900 text-gray-400 flex h-11 w-11 items-center justify-center rounded-full hover:text-white">
                        <svg fill="none" viewBox="0 0 24 24" class="stroke-current h-7 w-7">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19.25 11.75 17.664 6.2a2 2 0 0 0-1.923-1.45H8.26A2 2 0 0 0 6.336 6.2L4.75 11.75M10.214 12.369c-.258-.336-.62-.619-1.043-.619H4.75v5.5a2 2 0 0 0 2 2h10.5a2 2 0 0 0 2-2v-5.5h-4.42c-.425 0-.786.283-1.044.619A2.246 2.246 0 0 1 12 13.25a2.246 2.246 0 0 1-1.786-.881Z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
        <div class="flex gap-x-6 py-8">
            <div class="flex w-4/5 flex-col gap-y-8">
                @if (hour <= 11)
                {
                    <h1>
                        <span>Good Morning, </span>
                        <span class="font-semibold">@Model.User.Username</span>, these are your statistics.
                    </h1>
                }
                else if (hour <= 17)
                {
                    <h1>
                        <span>Good Afternoon, </span>
                        <span class="font-semibold">@Model.User.Username</span>, these are your statistics.
                    </h1>
                }
                else if (hour <= 23)
                {
                    <h1>
                        <span>Good Night, </span>
                        <span class="font-semibold">@Model.User.Username</span>, these are your statistics.
                    </h1>
                }
                <div class="flex gap-8" id="statistics">
                    <div class="flex flex-col aspect-square rounded-3xl bg-blue w-1/4 justify-center items-center p-4">
                        <p class="text-[11px] uppercase text-white font tracking-wider mb-2">Order total</p>
                        <p class="text-white font-bold text-5xl">7</p>
                    </div>
                    <div class="flex flex-col aspect-square rounded-3xl bg-lightpink w-1/4 justify-center items-center p-4">
                        <p class="text-[11px] uppercase text-white font tracking-wider mb-2">Recipes you shared</p>
                        <p class="text-white font-bold text-5xl">@Model.RecipesaApprovedById.Count</p>
                    </div>
                    <div class="flex flex-col aspect-square rounded-3xl bg-blue w-1/4 justify-center items-center p-4">
                        <p class="text-[11px] uppercase text-white font tracking-wider mb-2">Comments</p>
                        <p class="text-white font-bold text-5xl">@Model.RatingsById.Count</p>
                    </div>
                    <div class="flex flex-col aspect-square rounded-3xl bg-lightpink w-1/4 justify-center items-center p-4">
                        <p class="text-[11px] uppercase text-white font tracking-wider mb-2">Favorite Recipes</p>
                        <p class="text-white font-bold text-5xl">@Model.Favorites.Count</p>
                    </div>
                </div>

                @if (Model.User.UserAdmin == true)
                {

                    if (Model.RecipesUnapproved.Count < 1)
                    {

                    }
                    else
                    {
                        <div class="rounded-3xl p-10 bg-card">
                            <h3 class="text-3xl font-bold text-pink mb-4">
                                There are @Model.RecipesUnapproved.Count unapproved recipe
                                @if (Model.RecipesUnapproved.Count > 1)
                                {
                                    @:s
                                }
                                awaiting your approval.
                            </h3>
                            <p class="text-base font-normal mb-6 text-black/60">
                                Please review and approve the recipe(s) promptly to ensure that only quality content is published on the platform.
                                Your approval is vital to maintain the integrity and credibility of our recipe database.
                                Thank you for your attention and prompt action!
                            </p>
                            @foreach (var recipe in Model.RecipesUnapproved)
                            {
                                <a href="@Url.Action("Update", "Recipe", new { id = recipe.Id })" class="hover:no-underline">
                                    <div class="flex items-center">
                                        <div class="w-16 h-16 bg-black rounded-3xl mr-4 overflow-hidden flex justify-center items-center">
                                            <img src="@Url.Content("~/images/" + recipe.ImageUrl)" class="bg-cover object-cover w-full h-full">
                                        </div>
                                        <div>
                                            <h3 class="text-base font-medium text-pink">@recipe.Title</h3>
                                            <h4 class="text-xs font-normal text-black/60">@recipe.Category.Name</h4>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    }

                }

                <!-- ALL USERS -->
                @if (Model.User.UserAdmin == true)
                {
                    <div id="users">
                        <h1 class="text-3xl mb-2 mt-6 text-blue font-bold">List of users</h1>
                        <p class="text-base mb-6">
                            Here, you can view a comprehensive list of all the users registered on your platform.
                        </p>
                        <table class="table text-sm bg-card rounded-3xl border-separate space-y-3 table-auto">
                            <thead class="bg-[#dee2e6]">
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Occupation</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users)
                                {
                                    <tr>
                                        <td class="p-4">@item.Username</td>
                                        <td class="p-4">@item.Email</td>
                                        <td class="p-4 font-bold">@item.Password</td>
                                        <td class="p-4">

                                            @if (item.UserAdmin == true)
                                            {
                                                <span class="rounded-md bg-blue py-1 px-3 text-white text-[11px] uppercase tracking-wider">Manager</span>
                                            }
                                            else
                                            {
                                                <span class="rounded-md bg-blue py-1 px-3 text-white text-[11px] uppercase tracking-wider">Costumer</span>
                                            }

                                        </td>
                                        <td class="p-4">

                                            @if (item.UserBlocked == true)
                                            {
                                                <span class="rounded-md bg-blue py-1 px-3 text-white text-[11px] uppercase tracking-wider">Blocked</span>
                                            }
                                            else
                                            {
                                                <span class="rounded-md bg-blue py-1 px-3 text-white text-[11px] uppercase tracking-wider">Active</span>
                                            }

                                        </td>
                                        <td class="p-4">
                                            <div class="flex justify-between">
                                                <a href="@Url.ActionLink("UpdateByUserId", "User", new { id = item.Id })" class="text-textcolor hover:text-blue mr-3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                 stroke="currentColor" class="w-4 h-4">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                                    </svg>
                                                </a>
                                                <a href="#" class="text-textcolor hover:text-blue">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                                 stroke="currentColor" class="w-4 h-4">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                <!-- ALL FAVORITES -->
                <div id="favorites" class="hidden">
                    <h1 class="text-3xl mb-2 mt-6 text-blue font-bold">Favorites</h1>
                    <p class="text-base mb-6">
                        Welcome to the "Favorites" tab of your dashboard! Here, you can view all of the recipes that your users have marked as their favorites.
                    </p>
                    <div class="grid grid-cols-2 gap-4">
                        @foreach (var item in Model.Favorites)
                        {
                            <div class="flex items-center gap-4 flex-row ">
                                <a href="@Url.Action("GetById", "Recipe", new { id = item.Recipe.Id })" class="group relative block shrink-0 self-start overflow-hidden rounded-3xl h-40 w-40">
                                    <img src="@Url.Content("~/images/" + item.Recipe.ImageUrl)" loading="lazy" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                                </a>

                                <div class="flex flex-col gap-2">
                                    <span class="text-blue/60 text-xs">@item.Recipe.Category.Name</span>
                                    <h2 class="text-pink/70 text-xl font-bold">
                                        <a href="@Url.Action("GetById", "Recipe", new { id = item.Recipe.Id })" class="hover:text-indigo-500 active:text-indigo-600 transition duration-100 hover:no-underline">@item.Recipe.Title</a>
                                    </h2>
                                    <p class="text-blue/60">@item.Recipe.Author.Username</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- ALL RECIPES -->
                <div id="recipes" class="hidden flex">
                    <h1 class="text-3xl mb-2 mt-6 text-blue font-bold">All Recipes</h1>
                    <p class="text-base mb-6">
                        Welcome to the "All Recipes" tab of your dashboard! Here, you can view all of the recipes that have been created on your platform.
                    </p>
                    <div class="grid grid-cols-2 gap-4">
                        @foreach (var item in Model.RecipesaApprovedById)
                        {
                            <div class="flex items-center gap-4 flex-row ">
                                <a href="@Url.Action("GetById", "Recipe", new { id = item.Id })" class="group relative block shrink-0 self-start overflow-hidden rounded-3xl h-40 w-40">
                                    <img src="@Url.Content("~/images/" + item.ImageUrl)" loading="lazy" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                                </a>

                                <div class="flex flex-col gap-2">
                                    <span class="text-blue/60 text-xs">@item.Category.Name</span>
                                    <h2 class="text-pink/70 text-xl font-bold">
                                        <a href="@Url.Action("GetById", "Recipe", new { id = item.Id })" class="hover:text-indigo-500 active:text-indigo-600 transition duration-100 hover:no-underline">@item.Title</a>
                                    </h2>
                                    <p class="text-blue/60">@item.Author.Username</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <!-- SETTING USER -->
                <div id="settings" class="hidden">
                    <h1 class="text-3xl mb-2 mt-6 text-blue font-bold">Edit your account.</h1>
                    <p class="text-base mb-6">
                        Here you can update your personal information and manage your account settings.
                    </p>
                    <form asp-controller="User" asp-action="Update" class="mt-8 space-y-6" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="User.Id" type="hidden" id="Id" name="User.Id" hidden/>
                        <div class="col-span-6">
                            <label asp-for="User.Username" class="block text-sm font-medium text-gray-700">Name</label>

                            <input asp-for="User.Username" type="text" id="Username" name="User.Username" class="mt-1 w-full rounded-md text-sm bg-card p-3 border-b-2 border-lightpink/50" />
                            <span asp-validation-for="User.Username" class="text-danger"></span>
                        </div>

                        <div class="col-span-6">
                            <label asp-for="User.Email" class="block text-sm font-medium text-gray-700">Email</label>

                            <input asp-for="User.Email" type="email" id="Email" name="User.Email" class="mt-1 w-full rounded-md text-sm bg-card p-3 border-b-2 border-lightpink/50" />
                            <span asp-validation-for="User.Email" class="text-danger"></span>
                        </div>

                        <div class="col-span-6">
                            <label asp-for="User.Password" class="block text-sm font-medium text-gray-700">Password</label>

                            <input asp-for="User.Password" type="password" id="Password" name="User.Password" class="mt-1 w-full rounded-md text-sm bg-card p-3 border-b-2 border-lightpink/50" />
                            <span asp-validation-for="User.Password" class="text-danger"></span>
                        </div>
                        <div class="col-span-full">
                            <label for="cover-photo" class="text-gray-900 block text-sm font-medium leading-6">Avatar photo</label>
                            <div class="border-gray-900/25 mt-2 flex justify-center rounded-lg border border-dashed px-6 py-10">
                                <div class="text-center">
                                    <svg class="text-gray-300 mx-auto h-12 w-12" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                              clip-rule="evenodd" />
                                    </svg>
                                    <div class="text-gray-600 mt-4 flex text-sm leading-6">
                                        <label for="file-upload" class="text-indigo-600 focus-within:ring-pink hover:text-lightpink relative cursor-pointer rounded-md bg-white font-semibold focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2">
                                            <span>Upload a file</span>
                                            <input id="file-upload" name="User.Upload" asp-for="User.Upload" type="file" class="sr-only" />
                                        </label>
                                        <p class="pl-1">or drag and drop</p>
                                    </div>
                                    <p class="text-gray-600 text-xs leading-5">PNG, JPG, GIF up to 10MB</p>
                                </div>
                            </div>
                        </div>
                        @if (Model.User.UserAdmin == true)
                        {
                            <div class="col-span-6">
                                <p class="text-black/60 text-xs mb-2">Is this user manager?</p>
                                <div class="flex items-center">
                                    <input asp-for="User.UserAdmin" type="checkbox" id="UserAdmin" name="User.UserAdmin" class="mr-2" />
                                    <label asp-for="User.UserAdmin" class="m-0 text-sm font-medium text-gray-700">Manager</label>
                                </div>
                                <span asp-validation-for="User.UserAdmin" class="text-danger"></span>
                            </div>
                            <div class="col-span-6">
                                <p class="text-black/60 text-xs mb-2">Is this user blocked?</p>
                                <div class="flex items-center">
                                    <input asp-for="User.UserBlocked" type="checkbox" id="UserBlocked" name="User.UserBlocked" class="mr-2" />
                                    <label asp-for="User.UserBlocked" class="m-0 text-sm font-medium text-gray-700">Blocked</label>
                                </div>
                                <span asp-validation-for="User.UserBlocked" class="text-danger"></span>
                            </div>
                            <input asp-for="User.ImageUrl" type="hidden" id="ImageUrl" name="User.ImageUrl" hidden/>
                        }
                        else
                        {
                            <input asp-for="User.UserAdmin" type="checkbox" id="UserAdmin" name="User.UserAdmin" hidden/>
                            <input asp-for="User.UserBlocked" type="checkbox" id="UserBlocked" name="User.UserBlocked" hidden/>
                            <input asp-for="User.ImageUrl" type="hidden" id="ImageUrl" name="User.ImageUrl" hidden/>
                            <input asp-for="User.Id" type="hidden" id="Id" name="User.Id" hidden/>
                        }

                        <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
                            <input type="submit" value="Submit Changes" class="inline-block shrink-0 rounded-full bg-pink px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-pink focus:outline-none focus:ring" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="flex w-2/5 flex-col gap-y-8">
                <a asp-area="" asp-controller="Recipe" asp-action="CreateRecipe" class="text-xl font-medium text-white cursor-pointer hover:no-underline">
                    <div class="flex flex-col items-start w-full bg-lightblue rounded-3xl p-8 relative">
                        <h1 class="text-3xl mb-6 text-blue font-bold">Share a new recipe!</h1>
                        <p class="text-base font-light mb-6">
                            Share your favorite cake recipes with other users, and get inspired by
                            what others are making.
                        </p>
                        <span class="flex items-center bg-blue p-3 rounded-full text-xs uppercase font-medium tracking-wider hover:bg-blue/60  transition duration-300">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>Create Recipe
                        </span>
                    </div>
                </a>
            </div>
    </main>
</div>

<script type='text/javascript'>
    //<![CDATA[

    window.addEventListener('load', function() {
        var header = document.getElementById('header');
        header.style.display = 'none';
    });
    window.addEventListener('load', function() {
        var logoutButton = document.getElementById('logout-h');
        logoutButton.style.display = 'none';
    });
    window.addEventListener('load', function() {
        var logoutButton = document.getElementById('checklogin');
        logoutButton.style.display = 'none';
    });

    function dashboard() {
        document.getElementById('statistics').style.display = 'flex';
        document.getElementById('users').style.display = 'block';
        document.getElementById('recipes').style.display = 'none';
        document.getElementById('favorites').style.display = 'none';
        document.getElementById('settings').style.display = 'none';
    }


    function favorites() {
        document.getElementById('favorites').style.display = 'block';
        document.getElementById('statistics').style.display = 'none';
        document.getElementById('users').style.display = 'none';
        document.getElementById('recipes').style.display = 'none';
        document.getElementById('settings').style.display = 'none';
    }

    function recipes() {
        document.getElementById('recipes').style.display = 'block';
        document.getElementById('statistics').style.display = 'none';
        document.getElementById('users').style.display = 'none';
        document.getElementById('favorites').style.display = 'none';
        document.getElementById('settings').style.display = 'none';
    }

    function settings() {
        document.getElementById('settings').style.display = 'block';
        document.getElementById('statistics').style.display = 'none';
        document.getElementById('users').style.display = 'none';
        document.getElementById('favorites').style.display = 'none';
        document.getElementById('recipes').style.display = 'none';
    }
                                                            //]]>
</script>