@model wapp_dolcicerqueira.Models.AllModels

@{
    ViewData["Title"] = "Menu";
}

<a asp-area="" asp-controller="Home" asp-action="Index" class="fixed bg-pink rounded-full bottom-4 left-4 p-3 opacity-60 hover:opacity-100 transition-opacity">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
    </svg>
</a>

<div class="flex flex-col justify-center p-20 font-poppins">
    <div class="mx-auto text-center mb-14">
        <span class="text-pink mb-2 block text-lg font-semibold">Our Products</span>
        <h2 class="text-dark mb-4 text-3xl font-bold sm:text-4xl md:text-[40px]">See our Catalog</h2>
        <p class="text-body-color text-base">Find your favorite flavor from our menu.</p>
    </div>

    <div class="grid grid-cols-4 gap-10">
        @foreach (var product in Model.Products)
        {
            <div class="cursor-pointer rounded-3xl bg-white p-3 shadow-md shadow-textcolor/10">
                <a href="@Url.Action("GetById", "Product", new { id = product.Id })" class="no-underline hover:no-underline hover:text-pink">
                    <div class="relative flex overflow-hidden rounded-3xl aspect-square items-center">
                        <img src="/assets/cake.png" alt="@product.Name" />

                        <div class="absolute bottom-3 left-3 inline-flex items-center rounded-lg bg-white p-2 shadow-md">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-lightgreen" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                            </svg>

                            <span class="text-slate-400 ml-1 text-sm">4.9</span>
                        </div>
                    </div>

                    <div class="mt-1 p-2">
                        <h2 class="text-slate-700 text-xl">@product.Name</h2>
                        <p class="mt-1 text-sm text-textcolor">@product.Category.Name</p>

                        <div class="mt-3 flex items-end justify-between">
                            <p>
                                <span class="text-lg font-bold text-pink">@product.Price</span>
                                <span class="text-sm text-textcolor">/euros</span>
                            </p>

                            <div class="group inline-flex rounded-xl bg-pink/30 p-2 hover:bg-pink/40">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-pink group-hover:text-pink" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<script type='text/javascript'>
    //<![CDATA[

    window.addEventListener('load', function() {
        var header = document.getElementById('header');
        header.style.display = 'none';
    });
    window.addEventListener('load', function() {
        var logoutButton = document.getElementById('logout-h');
        logoutButton.style.display = 'none';
    });
                                //]]>
</script>