@model wapp_dolcicerqueira.Models.AllModels

@{
    ViewData["Title"] = "GetAll";
}

<a asp-area="" asp-controller="Home" asp-action="Index" class="fixed bg-pink rounded-full bottom-4 left-4 p-3 opacity-60 hover:opacity-100 transition-opacity">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
    </svg>
</a>

<div class="flex flex-col justify-center p-20 font-poppins">
    <div class="mx-auto text-center mb-14">
        <span class="text-pink mb-2 block text-lg font-semibold">Our Products</span>
        <h2 class="text-dark mb-4 text-3xl font-bold sm:text-4xl md:text-[40px]">See All Recipes</h2>
        <p class="text-body-color text-base">Find your favorite recipe from our website.</p>
    </div>

    <div class="grid grid-cols-4 gap-10">
        @foreach (var recipe in Model.RecipesaApproved)
        {
            <div class="cursor-pointer rounded-3xl bg-white p-3 shadow-md shadow-textcolor/10">
                <a href="@Url.Action("GetById", "Recipe", new { id = recipe.Id })" class="no-underline hover:no-underline hover:text-pink">
                    <div class="relative flex overflow-hidden rounded-3xl aspect-video items-center">
                        <img src="@Url.Content("~/images/" + recipe.ImageUrl)" alt="@recipe.Title" />              
                    </div>

                    <div class="mt-1 p-2">
                        <h2 class="text-slate-700 text-xl">@recipe.Title</h2>
                        <p class="mt-1 text-sm text-textcolor">@recipe.Category.Name</p>

                        <div class="mt-3 flex items-end justify-between">
                            <a href="#" class="hover:no-underline flex items-center text-blue/70 hover:bg-lightblue hover:text-black rounded py-1 pl-1 pr-2 text-sm">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="mr-2 w-4 h-4">
                                    <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97z" clip-rule="evenodd" />
                                </svg>
                                @recipe.Ratings.Count()<span class="hidden md:inline">&nbsp;comments</span>
                            </a>

                            <div class="group inline-flex rounded-xl bg-pink/30 p-2 hover:bg-pink/40">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-pink group-hover:text-pink" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M5 4a2 2 0 012-2h6a2 2 0 012 2v14l-5-2.5L5 18V4z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<script type='text/javascript'>
    //<![CDATA[

    window.addEventListener('load', function() {
        var header = document.getElementById('header');
        header.style.display = 'none';
    });
    window.addEventListener('load', function() {
        var logoutButton = document.getElementById('logout-h');
        logoutButton.style.display = 'none';
    });
                                    //]]>
</script>